//-------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------

// Reset
// -------------------------------------------------------------------

// @mixin button-reset {
//     margin: 0;
//     padding: 0;
//     border: none;
//     display: inline-block;
//     vertical-align: baseline;
//     background-color: transparent;
//     outline: none;
//     color: inherit;
//     font-size: inherit;
//     font-family: inherit;
//     text-decoration: none;
//     white-space: normal;
// }

$button-types: ('primary', 'secondary', 'tertiary');
$button-sizes: ('small', 'medium', 'large');
$button-layouts: ('label-left', 'label-center', 'label-right');

// Button Sizes
//-------------------------------------------------------------------

@mixin button-size($size) {
  @if ($size == 'small') {
    font-size: font-size('small');
    padding: space(0.5) space(1);
    gap: space(0.5);
  }
  @if ($size == 'medium') {
    font-size: font-size('medium');
    padding: space(1) space(1.5);
    gap: space(1) space;
  }
  @if ($size == 'large') {
    font-size: font-size('large');
    padding: space(1.5) space(3);
    gap: space(1.5);
  }
}

@mixin button-label($size) {
  .label {
    @if ($size == 'small') {
      font-size: font-size('small');
      padding: space(0.5) space(1);
    }
    @if ($size == 'medium') {
      font-size: font-size('medium');
      padding: space(1) space(1.5);
    }
    @if ($size == 'large') {
      font-size: font-size('large');
      padding: space(1.5) space(3);
    }
  }
}

@mixin button-icon($icon-name, $size) {
  .icon {
    @include icon($icon-name);
    @include icon-size($size);
  }
}

// Button Layout
//------------------------------------------------------------------

@mixin button-layout($layout) {
  @if ($layout == 'label-left') {
    text-align: left;

    .label {
      order: -1;
    }
  }
  @if ($layout == 'label-center') {
    text-align: center;

    .label {
      order: 0;
    }
  }
  @if ($layout == 'label-right') {
    text-align: right;

    .label {
      order: 100;
    }
  }
}

// Button Types
//-------------------------------------------------------------------

@mixin button-type($type) {
  // Default types
  display: flex;
  flex-wrap: nowrap;
  min-width: 0;
  text-decoration: none;
  align-items: center;

  @if ($type == 'primary') {
    @include button-primary;
  }
  @if ($type == 'secondary') {
    @include button-secondary;
  }
  @if ($type == 'tertiary') {
    @include button-tertiary;
  }
}

@mixin button-primary() {
  background: color('blue', 1);
  color: color('white');

  .icon {
    background: color('white', 0.5);
  }

  &:hover {
    background: rgba(green, 0.2);
  }

  &:active {
    // Styles
  }

  &:focus {
    // Styles
  }

  &:disabled {
    // Styles
  }
}

@mixin button-secondary() {
  background: color('purple', 1);
  color: color('white');
}
