//-------------------------------------------------------------------
// Text Inputs
//-------------------------------------------------------------------

// Reset
// -------------------------------------------------------------------

@mixin input-reset {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: baseline;
  background-color: transparent;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  white-space: normal;
}

// Options
// -------------------------------------------------------------------

$input-states: ('default', 'loading', 'disabled', 'error', 'warning', 'valid', 'focused');

@mixin text {
  display: flex;
  flex-direction: column;

  label {
    margin: space(0.5);
    @include font($text, 'small');
  }

  input {
    font-size: 16px;
    padding: space(0.5);
    @include mq(screen-size('small')) {
      @include font($text, 'medium');
    }
  }

  .message {
    margin: space(0.5);
    @include font($text, 'x-small');
  }

  .icon {
    @include icon('error');
    @include icon-size('small');
    background: color('utility', 'error');
  }
}

$text-input-types: ('text', 'textarea', 'search', 'number', 'creditcard', 'amount');

@mixin text-input($type: 'text') {
  @if $type == 'text' {
    @include text;
  }
  // @if $type == 'textarea' {
  //     @include input-textarea;
  // }
  // @if $type == 'search' {
  //     @include input-search;
  // }
  // @if $type == 'number' {
  //     @include input-number;
  // }
  // @if $type == 'creditcard' {
  //     @include input-creditcard;
  // }
  // @if $type == 'amount' {
  //     @include input-amount;
  // }
}
