@use 'sproutkit/_source' as *;

@import './reset.scss';

body {
  overflow: hidden;
  position: fixed;
  @include coordinates;
  min-height: 100vh;
}

@mixin article {
  .container {
    min-height: 105vh;
    padding: space(2);
    padding-bottom: 50vh;
    line-height: line-height('small');
    display: flex;
    flex-direction: column;
    gap: space(2);
    min-width: 0;

    @include mq(screen('small')) {
      padding: space(4);
      padding-bottom: 50vh;
    }

    @include mq(screen('large')) {
      padding: space(6);
      padding-bottom: 50vh;
    }

    // @include mq(screen('xxx-large')) {
    //   display: flex;
    // }
  }

  .header {
    padding: 0 space(2);
  }

  section {
    padding: space(2);

    section {
      padding: space(2) 0;
    }
  }

  .content {
    // margin: space(2);
    padding-bottom: space(4);
    max-width: 85ch;
    border-bottom: 1px solid color('gray-200');

    @include mq(screen('xxx-large')) {
      max-width: 65ch;
      width: 40%;
      flex-grow: 1;
    }
  }

  h1 {
    @include font-set('headline-48');
    font-weight: font-weight('bold');
    color: color('gray-900');
    margin: space(3) 0;
  }

  h2 {
    @include font-set('headline-32');
    font-weight: font-weight('bold');
    margin: space(2) 0;
  }

  h3 {
    @include font-set('headline-24');
    font-weight: font-weight('bold');
    margin: space(2) 0;
  }

  h4 {
    @include font(16, 'semi-bold');
    margin-bottom: space(2);
  }

  p {
    @include font-set('body-16');
    color: color('gray-700');
    margin-bottom: space(1);
    padding: space(1) 0;
    max-width: 65ch;
  }

  strong {
    color: color('gray-900');
  }

  p > code {
    background-color: color('teal-100', 0.25);
    padding: space(0.5) space(1);
    border-radius: radius('.5');
    color: color('teal-600');
    font-weight: font-weight('semi-bold');
    font-family: monospace;
    font-size: font-size(14);
    break-inside: avoid;
    white-space: nowrap;
    word-break: keep-all;
  }

  pre {
    background-color: color('navy-50');
    margin: space(1) space(0.5);
    // padding: space(1.5) space(2);
    padding: space(1) space(1.5);
    border-radius: radius('.5');
    border: 1px solid color('navy-100');
    color: color('navy-600');
    font-weight: font-weight('semi-bold');
    font-family: monospace;
    font-size: font-size(14);
    line-height: line-height('large');
    white-space: pre-wrap;
    display: flex;
    flex-grow: 1;
    align-items: baseline;

    .value {
      font-family: monospace;
      color: color('navy-600', 0.5);
      font-size: font-size(10);
      margin-left: auto;
      padding-left: space(2);
    }

    code + code {
      flex-grow: 1;
      width: 100%;
    }
  }

  .row {
    display: flex;
    gap: space(1);
    padding: space(2) 0;
    flex-wrap: wrap;
    min-width: 120px;

    &.col-2 {
      li {
        width: 40%;
      }
    }
  }

  .sample {
    // padding: space(2);
    flex-grow: 1;
    min-width: 60%;
  }

  .group {
    // padding: space(1) 0;
    // margin-bottom: space(4);
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 space(-2);
    min-width: 0;

    .group {
      width: 33%;
      min-width: 180px;
      flex-grow: 1;
      padding: space(1);
    }
  }

  iframe {
    border: none;
    box-shadow: none;
  }

  ul {
    list-style: none;

    li {
      @include font(12);
      margin-bottom: space(2);
    }
  }
}

.plain-a {
  padding: 0;
  text-decoration: none;
}
