:host {
  @include article;
}

.home-div {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .package-details {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

}
