:host {
  display: block;
}

p {
  text-transform: uppercase;
  font-weight: 600;
  transform-origin: left;
  @include font(10, 'semi-bold');
  color: color('gray-900');
  margin-bottom: space(2);
}

.hues {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hue {
  width: 25%;
  flex-grow: 1;

  @include mq(screen('small')) {
    width: 20%;
    padding: space(0.25);
  }

  @include mq(screen('xx-large')) {
    width: 10%;
    padding: space(0.5);
  }
}

.shades {
  li {
    padding-bottom: space(1);
  }
}
