:host {
  @include article;
}

a[slot='tertiary'] {
  color: color('green-500');
  text-decoration: none;
  padding: space(1) space(2);
  @include font(12, 'semi-bold');
  background-color: color('green-200', 0.2);
  border-radius: radius('1');
}

a[slot='secondary'] {
  padding: space(1) space(2);
  @include font(12, 'semi-bold');
  border-radius: radius('1');

  color: color('navy-800');
  background-color: color('navy-700', 0.1);
  text-decoration: none;
}

.message {
  display: block;
  margin-bottom: space(3);
  @include font(16);
  color: color('gray-600');
}
