:host {
  display: block;
}

.swatch {
  display: flex;
  flex-direction: column;
  border-radius: radius(1);
  padding: 2px;
}

.sample {
  aspect-ratio: 7 / 2;
  border-radius: radius('1');
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  @include transition();
}

.description {
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin-bottom: 4px;
}

span {
  font-size: 12px;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  white-space: nowrap;
}

.name {
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  font-size: 12px;
}

.value {
  color: hsl(0, 0%, 40%);
  font-weight: regular;
  font-size: 10px;

  /* display: none; */
  /* position: absolute; */
  background-color: white;
  /* z-index: 0; */
  /* opacity: 0; */
}

.sample:hover + .description .value {
  opacity: 1;
}

.color-brand-primary {
  background-color: $color-brand-primary;
}
.color-brand-cta {
  background-color: $color-brand-cta;
}
.color-brand-dark {
  background-color: $color-brand-dark;
}

.color-primary {
  background-color: $color-primary;
}
.color-primary-dark {
  background-color: $color-primary-dark;
}
.color-primary-light {
  background-color: $color-primary-light;
}
.color-primary-text {
  background-color: $color-primary-text;
}

.color-accent {
  background-color: $color-accent;
}
.color-accent-dark {
  background-color: $color-accent-dark;
}
.color-accent-light {
  background-color: $color-accent-light;
}
.color-accent-text {
  background-color: $color-accent-text;
}
