:host {
  display: block;
  margin: 0;
  font-size: 0;
  flex-grow: 0;
}

button {
  @include button-reset;

  // appearance: none;
  // box-shadow: none;
  // border: none;
  // outline: none;
  // background: none;
}

.button {
  @include transition;

  cursor: pointer;
  position: relative;
  color: color('gray-900', 0.9);

  &::after {
    content: '';
    position: absolute;
    @include coordinates;

    border-radius: inherit;
    box-shadow: 0 0 0 1px color('white'), 0 0 8px color('blue-500'), 0 0 0 2px color('navy-500');
    @include transition;

    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    background-color: color('gray-200');
  }

  &:active {
    background-color: color('gray-300');
  }

  &:focus {
    &::after {
      opacity: 1;
    }
  }
}

.small {
  @include size(space(3));

  padding: space(0.5);
  border-radius: radius('.5');
}

.medium {
  @include size(space(4));

  padding: space(1);
  border-radius: radius('1');
}

.large {
  @include size(space(5));

  padding: space(1);
  border-radius: radius('1');
}

.x-large {
  @include size(space(7));

  padding: space(1.25);
  border-radius: radius('2');
}

.rounded {
  &.small {
    border-radius: radius('.5');
  }

  &.medium {
    border-radius: radius('1');
  }

  &.large {
    border-radius: radius('1');
  }

  &.x-large {
    border-radius: radius('2');
  }
}

.circle {
  box-shadow: shadowline();
  border-radius: radius('8');
}
