:host {
  display: block;
  flex-grow: 1;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 240px;
  width: 20%;
  max-width: 360px;
}

nav {
  width: 100%;
  @include transition('fast', 'all');
  flex-grow: 1;
  background-color: color('green-200', 0.5);
  // transform: translate3d(-10%, 0, 0);
  z-index: 0;

  &::after {
    content: '';
    z-index: -1;
    position: absolute;
    @include coordinates;
    background: color('green-200', 0.1);
    background-image: linear-gradient(-55deg, color('aqua-400', 1) -20%, color('teal-300', 0.8) 40%, color('neon_green-400', 1) 120%);
    opacity: 0.5;
  }

  > * {
    @include transition('slow', 'all');
    transform: translate3d(-50%, 0, 0) scale(0.5);
    @include show('off');
  }

  &.menu-open {
    transform: translate3d(0%, 0, 0);
    @include show('on');
    > * {
      @include transition('fast', 'all');
      transform: translate3d(0, 0, 0);
      @include show('on');
    }
  }
}

h3 {
  @include font-set('label-12');
  font-weight: font-weight('bold');
  color: color('aqua-800', 0.9);

  // color: color('white');
  padding: space(1);
  @include transition('fast', 'padding');
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
  z-index: 10;

  @include mq(screen('medium')) {
    padding: space(1);
  }
}

section {
  padding: space(2);
}

.content {
  overflow: auto;
  max-height: 100%;
  padding-bottom: space(10);
}

.sections {
  margin-bottom: space(1);
  padding: 0 space(1);
  @include transition;
}

li {
  z-index: 1;
  @include transition;
}

a {
  @include font-set('body-14');
  font-weight: font-weight('medium');
  text-decoration: none;
  padding: space(1) space(3);
  display: block;
  position: relative;
  z-index: 1;
  @include transition;
  color: color('aqua-800', 0.7);
  border-radius: radius('2');

  &::after {
    content: '';
    position: absolute;
    @include coordinates;
    border-radius: radius('2');
    background-image: linear-gradient(color('white'), color('white', 0.5));
    box-shadow: 0 2px 2px color('green-800', 0.1), 0 8px 24px color('blue-700', 0.2);
    z-index: -1;
    @include transition();
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    pointer-events: none;
  }

  &:hover:not(.link-active) {
    color: color('aqua-800', 1);
    background-color: color('teal-800', 0.1);
  }

  &.link-active {
    font-weight: font-weight('bold');
    color: color('green-600');
    transform: translate3d(0, 0, 0);

    &::after {
      opacity: 1;
    }
  }
}

li:has(a.link-active) ~ li a::after {
  transform: translate3d(0, -100%, 0) scale(0.9);
}

li:has(a.link-active) a::after {
  transform: translate3d(0, 0, 0);
}

.logo-container {
  // display: none;
  background-color: color('blue-900', 0.9);
  // background-image: linear-gradient(135deg, color('teal-900', 0), color('aqua-800', 0.8)), linear-gradient(15deg, color('navy-700', 0.5), color('aqua-500', 0));
  box-shadow: shadow('drop-6', 'blue-800', 0.4), shadow('cast-4');
  padding: space(2) space(3);
  margin: space(2);
  border-radius: radius('.5');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .logo {
    @include bg(contain, left, center);
    background-image: url('/assets/railz-logo-white.svg');
    @include aspect-ratio(10, 1);
  }
}
