//-------------------------------------------------------------------
// Structure
//-------------------------------------------------------------------

$base-spacing-unit: 8px;

// Screen Sizes for Media Queries
//-------------------------------------------------------------------

$screen-sizes: (
  'xxx-large': rem(1800px),
  'xx-large': rem(1640px),
  'x-large': rem(1440px),
  'large': rem(1280px),
  //,
  'medium-large': rem(1024px),
  'medium': rem(768px),
  'medium-small': rem(640px),
  //,
  'small': rem(520px),
  'x-small': rem(375px),
  'xx-small': rem(360px),
  'xxx-small': rem(280px),
);

// Lines
//-------------------------------------------------------------------

$line-colors: (
  'dark-1': color('gray-800', 0.2),
  'dark-2': color('gray-800', 0.6),
  'dark-3': color('gray-900', 0.9),
  //,
  'light-1': color('gray-300', 0.2),
  'light-2': color('gray-200', 0.6),
  'light-3': color('gray-100', 0.9),
);
$lines: (
  'dark-1': thin solid line-color('dark-1'),
  'dark-2': thin solid line-color('dark-2'),
  'dark-3': thin solid line-color('dark-3'),
  //,
  'light-1': thin solid line-color('light-1'),
  'light-2': thin solid line-color('light-2'),
  'light-3': thin solid line-color('light-3'),
);

// Border Radius
//-------------------------------------------------------------------

$radii: (
  50%,
  10%,
  5%,
  2.5%,
  96px,
  80px,
  64px,
  40px,
  32px,
  24px,
  16px,
  14px,
  12px,
  10px,
  8px,
  6px,
  4px,
  2px
);
$shadows: (
  'drop-1': 0 1px 2px,
  'drop-2': 0 3px 4px,
  'drop-3': 0 4px 8px,
  'drop-4': 0 8px 16px,
  'drop-5': 0 16px 32px,
  'drop-6': 0 24px 40px,
  'drop-7': 0 32px 64px,
  'drop-8': 0 40px 80px,
  'drop-9': 0 48px 96px,
  'drop-10': 0 56px 112px,
  //,
  'cast-1': 0 2px 2px -1px,
  'cast-2': 0 4px 4px -2px,
  'cast-3': 0 6px 8px -4px,
  'cast-4': 0 12px 16px -8px,
  'cast-5': 0 24px 32px -16px,
  'cast-6': 0 32px 40px -24px,
  'cast-7': 0 40px 64px -32px,
  'cast-8': 0 48px 80px -40px,
  'cast-9': 0 56px 96px -48px,
  'cast-10': 0 64px 112px -56px,
  //,
  'glow-1': 0 0 2px,
  'glow-2': 0 0 4px,
  'glow-3': 0 0 8px,
  'glow-4': 0 0 16px,
  'glow-5': 0 0 32px,
  'glow-6': 0 0 40px,
  'glow-7': 0 0 64px,
  'glow-8': 0 0 80px,
  'glow-9': 0 0 96px,
  'glow-10': 0 0 112px,
);
