@use 'sass:string';

// Dimensions
//-------------------------------------------------------------------
// D stands for Dimension

@function space($scale) {
  $base: 8px;
  @return $base * $scale;
}

// Z-Index
//-------------------------------------------------------------------
@function z($index, $modifer: '') {
  $z-base: 10;

  @if $index < 0 {
    $index: $index * -1;
    @return #{-1 * pow($z-base, $index) - $modifer};
  }
  @return #{pow($z-base, $index) + $modifer};
}

// Border Radius
//-------------------------------------------------------------------

@function radius($size) {
  $size: '#{$size}';

  @if map-has-key($radii, $size) {
    $size: map-get($radii, $size);
    @return $size;
  }
  @warn error-message($size, $radii, 'tokens/_structure.scss');
  @return null;
}

// Drop Shadows
//-------------------------------------------------------------------

@function shadow($shadow-style: 'drop-1', $shadow-color: 'gray-900', $opacity: 0.4) {
  @if map-has-key($shadows, $shadow-style) {
    @if type-of($shadow-color) != string {
      $shadow-color: $shadow-color;
    } @else {
      $shadow-color: color($shadow-color, $opacity);
    }

    $shadow-style: map-get($shadows, $shadow-style);
    @return #{$shadow-style $shadow-color};
  }
  @warn error-message($shadow-style, $shadows, 'tokens/_structure.scss');
  @return null;
}
