:root {
  --theme-primary-color: #00884f;
  --theme-secondary-color: #006037;
  --theme-border-color: #cccccc;
}

:root .dark-theme {
  --theme-primary-color: #00884f;
  --theme-secondary-color: #014b2b;
  --theme-border-color: #ffffff;
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: var(--theme-primary-color);
}

.palette {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.palette p {
  height: 30px;
  width: 30px;
}

.palette .primary {
  background-color: var(--theme-primary-color);
}

.palette .secondary {
  background-color: var(--theme-secondary-color);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  appearance: none;
  margin: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;

  background-color: transparent;
  border-color: var(--theme-border-color);
  color: var(--theme-text-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.24);
}

.button :hover,
:focus,
:active {
  background-color: var(--theme-secondary-bg);
  color: var(--theme-primary-color);
}

.button.primary {
  background-color: var(--theme-primary-color);
  border-color: var(--theme-primary-color);
  color: #ffffff;
}

.button :hover,
.button :focus,
.button :active {
  background-color: var(--theme-primary-color);
  color: var(--theme-text-color);
}

table {
  color: var(--theme-text-color);
  max-width: 100%;
  overflow: auto;
  min-width: 0;
}

table tr,
table tr:nth-child(2n) {
  background-color: transparent;
}

h1 {
  font-weight: 800;
  color: hsl(0, 0%, 13%);
}

h2 {
  font-weight: 700;
  color: hsl(0, 0%, 13%);
}

p {
  color: hsl(0, 0%, 46%);
}

strong {
  font-weight: 600;
  color: hsl(0, 0%, 13%);
}

code {
  background-color: hsla(160, 100%, 75%, 0.5);
  color: hsl(175, 87%, 18%);
  padding: 2px 6px;
  border-radius: 8px;
  font-weight: 600;
  font-family: monospace;
  font-size: 0.8em;
}

pre {
  background-color: hsla(202, 100%, 70%, 0.1);
  padding: 2px 6px;
  border-radius: 8px;
  font-family: monospace;
}

pre code {
  font-weight: 600;
  color: hsl(209, 91%, 27%);

  /* font-size: 0.em; */
}
